nifi/Thermal_Processing (1).json
{"flowContents":{"identifier":"501b79fc-3962-327d-bffd-654984f09d20","instanceIdentifier":"df78c1d0-b251-39e1-1716-107dc14ba180","name":"Thermal Processing","comments":"","position":{"x":2651.0,"y":529.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7d035b98-74a6-3c8d-9c8d-9eba2a303961","instanceIdentifier":"c9965e85-0184-1000-78eb-465a2276718d","name":"PublishPulsarRecord Alerts","comments":"","position":{"x":280.0,"y":560.0},"type":"org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.18.0"},"properties":{"MAX_ASYNC_REQUESTS":"50","BATCH_INTERVAL":"10 ms","COMPRESSION_TYPE":"NONE","PULSAR_CLIENT_SERVICE":"43aff992-fc64-3e8c-ae20-d2b1b5bfeed1","MESSAGE_ROUTING_MODE":"RoundRobinPartition","RECORD_WRITER":"232410b0-1f63-3031-96b8-aeec25a231e2","BLOCK_IF_QUEUE_FULL":"false","BATCHING_MAX_MESSAGES":"1000","MAPPED_MESSAGE_PROPERTIES":"","PENDING_MAX_MESSAGES":"1000","TOPIC":"persistent://public/default/thermalsensorsalerts","MESSAGE_DEMARCATOR":null,"ASYNC_ENABLED":"false","RECORD_READER":"cd4bcd7d-1029-3bb7-b349-a412f213be55","MESSAGE_KEY":"${uuid}","BATCHING_ENABLED":"false"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"BATCH_INTERVAL":{"name":"BATCH_INTERVAL","displayName":"Batch Interval","identifiesControllerService":false,"sensitive":false},"COMPRESSION_TYPE":{"name":"COMPRESSION_TYPE","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"MESSAGE_ROUTING_MODE":{"name":"MESSAGE_ROUTING_MODE","displayName":"Message Routing Mode","identifiesControllerService":false,"sensitive":false},"RECORD_WRITER":{"name":"RECORD_WRITER","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"BLOCK_IF_QUEUE_FULL":{"name":"BLOCK_IF_QUEUE_FULL","displayName":"Block if Message Queue Full","identifiesControllerService":false,"sensitive":false},"BATCHING_MAX_MESSAGES":{"name":"BATCHING_MAX_MESSAGES","displayName":"Batching Max Messages","identifiesControllerService":false,"sensitive":false},"MAPPED_MESSAGE_PROPERTIES":{"name":"MAPPED_MESSAGE_PROPERTIES","displayName":"Mapped Message Properties","identifiesControllerService":false,"sensitive":false},"PENDING_MAX_MESSAGES":{"name":"PENDING_MAX_MESSAGES","displayName":"Max Pending Messages","identifiesControllerService":false,"sensitive":false},"TOPIC":{"name":"TOPIC","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"RECORD_READER":{"name":"RECORD_READER","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"MESSAGE_KEY":{"name":"MESSAGE_KEY","displayName":"Message Key","identifiesControllerService":false,"sensitive":false},"BATCHING_ENABLED":{"name":"BATCHING_ENABLED","displayName":"Batching Enabled","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"69199e75-c8fb-395e-a1df-964abd825e49","instanceIdentifier":"c99e48e9-0184-1000-189c-6504bcab6334","name":"PutDatabaseRecord","comments":"","position":{"x":944.0,"y":560.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"268c44c2-32a7-3338-89cb-ce880d3b343f","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"PostgreSQL","put-db-record-update-keys":"uuid","put-db-record-quoted-identifiers":"false","put-db-record-table-name":"thermalalerts","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"0","put-db-record-record-reader":"cd4bcd7d-1029-3bb7-b349-a412f213be55","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"f847edb4-476e-3fd3-8aff-2ba2ba8158cf","instanceIdentifier":"f07dcd4e-f354-3b31-6e99-2ac0731865d9","name":"Filter, Route, Transform, Alert","comments":"","position":{"x":280.0,"y":304.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"all":"SELECT systemtime, humidity, temperature, uuid,\n   co2, datetimestamp, rowid, diskusage\nFROM FLOWFILE\nWHERE CAST(humidity as FLOAT) <=35\n","cache-schema":"true","dbf-default-precision":"10","record-writer":"99a474eb-2b7b-3298-9420-202734e81f90","record-reader":"c66f2175-6b26-302e-8d6c-747ce3dfeaeb","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"e609cd18-4998-3b65-81fb-742063a0a0d0","instanceIdentifier":"c9936cd9-0184-1000-acae-a5b9b0ebba8b","name":"ConsumePulsarRecord Thermal sensors","comments":"","position":{"x":280.0,"y":64.0},"type":"org.apache.nifi.processors.pulsar.pubsub.ConsumePulsarRecord","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.18.0"},"properties":{"MAX_ASYNC_REQUESTS":"50","PULSAR_CLIENT_SERVICE":"43aff992-fc64-3e8c-ae20-d2b1b5bfeed1","Max Wait Time":"2 seconds","REPLICATE_SUBSCRIPTION_STATE":"false","Record Reader":"cd4bcd7d-1029-3bb7-b349-a412f213be55","SUBSCRIPTION_NAME":"nifi-thermalsensors-consumer","ACK_TIMEOUT":"30 sec","MESSAGE_DEMARCATOR":"\n","PRIORITY_LEVEL":"5","ASYNC_ENABLED":"false","CONSUMER_BATCH_SIZE":"1000","TOPICS":"persistent://public/default/thermalsensors","RECEIVER_QUEUE_SIZE":"1000","SUBSCRIPTION_TYPE":"Shared","MAPPED_FLOWFILE_ATTRIBUTES":"","Record Writer":"232410b0-1f63-3031-96b8-aeec25a231e2","TOPICS_PATTERN":null,"CONSUMER_NAME":"nifi-localhost1","SUBSCRIPTION_INITIAL_POSITION":"Earliest"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"REPLICATE_SUBSCRIPTION_STATE":{"name":"REPLICATE_SUBSCRIPTION_STATE","displayName":"Replicate Subscription State","identifiesControllerService":false,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"SUBSCRIPTION_NAME":{"name":"SUBSCRIPTION_NAME","displayName":"Subscription Name","identifiesControllerService":false,"sensitive":false},"ACK_TIMEOUT":{"name":"ACK_TIMEOUT","displayName":"Acknowledgment Timeout","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"PRIORITY_LEVEL":{"name":"PRIORITY_LEVEL","displayName":"Consumer Priority Level","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"CONSUMER_BATCH_SIZE":{"name":"CONSUMER_BATCH_SIZE","displayName":"Consumer Message Batch Size","identifiesControllerService":false,"sensitive":false},"TOPICS":{"name":"TOPICS","displayName":"Topic Names","identifiesControllerService":false,"sensitive":false},"RECEIVER_QUEUE_SIZE":{"name":"RECEIVER_QUEUE_SIZE","displayName":"Consumer Receiver Queue Size","identifiesControllerService":false,"sensitive":false},"SUBSCRIPTION_TYPE":{"name":"SUBSCRIPTION_TYPE","displayName":"Subscription Type","identifiesControllerService":false,"sensitive":false},"MAPPED_FLOWFILE_ATTRIBUTES":{"name":"MAPPED_FLOWFILE_ATTRIBUTES","displayName":"Mapped FlowFile Attributes","identifiesControllerService":false,"sensitive":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"TOPICS_PATTERN":{"name":"TOPICS_PATTERN","displayName":"Topics Pattern","identifiesControllerService":false,"sensitive":false},"CONSUMER_NAME":{"name":"CONSUMER_NAME","displayName":"Consumer Name","identifiesControllerService":false,"sensitive":false},"SUBSCRIPTION_INITIAL_POSITION":{"name":"SUBSCRIPTION_INITIAL_POSITION","displayName":"Subscription Initial Position","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"811399c0-c0a5-3dc2-9222-a4430d9f9fa2","instanceIdentifier":"c9def294-0184-1000-669d-eb22d0641296","name":"RetryFlowFile","comments":"","position":{"x":952.0,"y":768.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"a724f259-4c44-3461-91d5-a1eaed553be6","instanceIdentifier":"a2fa7fc6-4679-3e98-c2c3-993b4b27bc6d","name":"RetryFlowFile","comments":"","position":{"x":272.0,"y":848.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"48b45b59-c593-3278-a203-52ad4bcf5f17","instanceIdentifier":"c9df369e-0184-1000-559d-d48d8770355b","name":"","source":{"id":"69199e75-c8fb-395e-a1df-964abd825e49","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"c99e48e9-0184-1000-189c-6504bcab6334"},"destination":{"id":"811399c0-c0a5-3dc2-9222-a4430d9f9fa2","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"RetryFlowFile","comments":"","instanceIdentifier":"c9def294-0184-1000-669d-eb22d0641296"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":880.0,"y":728.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"2ec26754-f863-34ca-aaa8-ebade939ba14","instanceIdentifier":"90512c4b-c806-3364-45ca-16f52c9456f5","name":"","source":{"id":"a724f259-4c44-3461-91d5-a1eaed553be6","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"RetryFlowFile","comments":"","instanceIdentifier":"a2fa7fc6-4679-3e98-c2c3-993b4b27bc6d"},"destination":{"id":"5b216a31-a00a-3d27-a15d-5937ca4c3231","type":"FUNNEL","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"Funnel","comments":"","instanceIdentifier":"0eeb2915-67c0-3523-0e73-01a51dc85239"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"d5618edc-2a87-3fd3-be5e-fdfacc7e4062","instanceIdentifier":"c9987b80-0184-1000-b4bc-5a1cc38f717a","name":"","source":{"id":"7d035b98-74a6-3c8d-9c8d-9eba2a303961","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PublishPulsarRecord Alerts","comments":"","instanceIdentifier":"c9965e85-0184-1000-78eb-465a2276718d"},"destination":{"id":"5b216a31-a00a-3d27-a15d-5937ca4c3231","type":"FUNNEL","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"Funnel","comments":"","instanceIdentifier":"0eeb2915-67c0-3523-0e73-01a51dc85239"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"c2f594ae-5dd2-34fe-a63f-1e9f25c9736e","instanceIdentifier":"c9df5639-0184-1000-c2d8-1bc86666062a","name":"","source":{"id":"811399c0-c0a5-3dc2-9222-a4430d9f9fa2","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"RetryFlowFile","comments":"","instanceIdentifier":"c9def294-0184-1000-669d-eb22d0641296"},"destination":{"id":"6d870d47-9c52-3d7f-9143-9dd8e73750ea","type":"FUNNEL","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"Funnel","comments":"","instanceIdentifier":"c99e76e4-0184-1000-4b6d-6c72f15eee88"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"54eac2e7-b5d0-36db-8d52-9de593982594","instanceIdentifier":"c9939733-0184-1000-3360-81241e959006","name":"","source":{"id":"e609cd18-4998-3b65-81fb-742063a0a0d0","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"ConsumePulsarRecord Thermal sensors","comments":"","instanceIdentifier":"c9936cd9-0184-1000-acae-a5b9b0ebba8b"},"destination":{"id":"f847edb4-476e-3fd3-8aff-2ba2ba8158cf","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"Filter, Route, Transform, Alert","comments":"","instanceIdentifier":"f07dcd4e-f354-3b31-6e99-2ac0731865d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"61d98416-805a-3fe8-8f3e-4447f7a8e1b1","instanceIdentifier":"c9984673-0184-1000-b1a0-b757dcea1c3b","name":"","source":{"id":"7d035b98-74a6-3c8d-9c8d-9eba2a303961","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PublishPulsarRecord Alerts","comments":"","instanceIdentifier":"c9965e85-0184-1000-78eb-465a2276718d"},"destination":{"id":"a724f259-4c44-3461-91d5-a1eaed553be6","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"RetryFlowFile","comments":"","instanceIdentifier":"a2fa7fc6-4679-3e98-c2c3-993b4b27bc6d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"2cf834a9-5e22-3bff-8588-dd37d0ef8382","instanceIdentifier":"c99e5d88-0184-1000-6d73-45836dad3307","name":"","source":{"id":"7d035b98-74a6-3c8d-9c8d-9eba2a303961","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PublishPulsarRecord Alerts","comments":"","instanceIdentifier":"c9965e85-0184-1000-78eb-465a2276718d"},"destination":{"id":"69199e75-c8fb-395e-a1df-964abd825e49","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"c99e48e9-0184-1000-189c-6504bcab6334"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"dc4235f7-785f-357d-a4b3-3876bf55248c","instanceIdentifier":"c9df6ce2-0184-1000-ae6c-6f23469edb01","name":"","source":{"id":"811399c0-c0a5-3dc2-9222-a4430d9f9fa2","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"RetryFlowFile","comments":"","instanceIdentifier":"c9def294-0184-1000-669d-eb22d0641296"},"destination":{"id":"69199e75-c8fb-395e-a1df-964abd825e49","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"c99e48e9-0184-1000-189c-6504bcab6334"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1432.0,"y":728.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"cc5c8652-11dd-3c38-bbe2-071088d3de91","instanceIdentifier":"c9960db7-0184-1000-3e10-c2c3bfdd015c","name":"","source":{"id":"e609cd18-4998-3b65-81fb-742063a0a0d0","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"ConsumePulsarRecord Thermal sensors","comments":"","instanceIdentifier":"c9936cd9-0184-1000-acae-a5b9b0ebba8b"},"destination":{"id":"5b216a31-a00a-3d27-a15d-5937ca4c3231","type":"FUNNEL","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"Funnel","comments":"","instanceIdentifier":"0eeb2915-67c0-3523-0e73-01a51dc85239"},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse_failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"1df187c5-9258-3fbe-932a-1fb73645adbb","instanceIdentifier":"c996812a-0184-1000-2a85-dae78a9e12e4","name":"","source":{"id":"f847edb4-476e-3fd3-8aff-2ba2ba8158cf","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"Filter, Route, Transform, Alert","comments":"","instanceIdentifier":"f07dcd4e-f354-3b31-6e99-2ac0731865d9"},"destination":{"id":"7d035b98-74a6-3c8d-9c8d-9eba2a303961","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PublishPulsarRecord Alerts","comments":"","instanceIdentifier":"c9965e85-0184-1000-78eb-465a2276718d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"38e0bce6-43f7-3eb6-9cb9-16925b00eb56","instanceIdentifier":"c99859d2-0184-1000-5b54-59512c96e454","name":"","source":{"id":"a724f259-4c44-3461-91d5-a1eaed553be6","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"RetryFlowFile","comments":"","instanceIdentifier":"a2fa7fc6-4679-3e98-c2c3-993b4b27bc6d"},"destination":{"id":"7d035b98-74a6-3c8d-9c8d-9eba2a303961","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PublishPulsarRecord Alerts","comments":"","instanceIdentifier":"c9965e85-0184-1000-78eb-465a2276718d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":776.0,"y":800.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"303885ed-7cc6-31e8-bd62-9b6110128508","instanceIdentifier":"4c3520c3-7d87-3587-2db9-e2e1bc05d547","name":"","source":{"id":"f847edb4-476e-3fd3-8aff-2ba2ba8158cf","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"Filter, Route, Transform, Alert","comments":"","instanceIdentifier":"f07dcd4e-f354-3b31-6e99-2ac0731865d9"},"destination":{"id":"5b216a31-a00a-3d27-a15d-5937ca4c3231","type":"FUNNEL","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"Funnel","comments":"","instanceIdentifier":"0eeb2915-67c0-3523-0e73-01a51dc85239"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"16897805-0620-3606-a9e9-060cc9c30684","instanceIdentifier":"c99e8525-0184-1000-66cc-51c62d0e8315","name":"","source":{"id":"69199e75-c8fb-395e-a1df-964abd825e49","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"c99e48e9-0184-1000-189c-6504bcab6334"},"destination":{"id":"811399c0-c0a5-3dc2-9222-a4430d9f9fa2","type":"PROCESSOR","groupId":"501b79fc-3962-327d-bffd-654984f09d20","name":"RetryFlowFile","comments":"","instanceIdentifier":"c9def294-0184-1000-669d-eb22d0641296"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"}],"labels":[],"funnels":[{"identifier":"6d870d47-9c52-3d7f-9143-9dd8e73750ea","instanceIdentifier":"c99e76e4-0184-1000-4b6d-6c72f15eee88","position":{"x":1096.0,"y":960.0},"componentType":"FUNNEL","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"},{"identifier":"5b216a31-a00a-3d27-a15d-5937ca4c3231","instanceIdentifier":"0eeb2915-67c0-3523-0e73-01a51dc85239","position":{"x":-264.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"501b79fc-3962-327d-bffd-654984f09d20"}],"controllerServices":[{"identifier":"232410b0-1f63-3031-96b8-aeec25a231e2","instanceIdentifier":"0d0432b1-9b10-37a7-47f8-0c6c1b0985b3","name":"Standard Inherit JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df78c1d0-b251-39e1-1716-107dc14ba180"},{"identifier":"99a474eb-2b7b-3298-9420-202734e81f90","instanceIdentifier":"4da04a97-ad6f-34cb-0058-382a23e9a58e","name":"Standard Inherit JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df78c1d0-b251-39e1-1716-107dc14ba180"},{"identifier":"c66f2175-6b26-302e-8d6c-747ce3dfeaeb","instanceIdentifier":"e8e38a2a-8403-3ebd-f54a-8487e53f1b88","name":"Infer JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df78c1d0-b251-39e1-1716-107dc14ba180"},{"identifier":"43aff992-fc64-3e8c-ae20-d2b1b5bfeed1","instanceIdentifier":"d839353f-f3a6-1900-7f1e-579169944b09","name":"LocalhostMacPulsar2.11","comments":"","type":"org.apache.nifi.pulsar.StandardPulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.18.0"},"properties":{"KEEP_ALIVE_INTERVAL":"30 sec","CONCURRENT_LOOKUP_REQUESTS":"5000","USE_TCP_NO_DELAY":"false","STATS_INTERVAL":"60 sec","MAXIMUM_LOOKUP_REQUESTS":"50000","OPERATION_TIMEOUT":"30 sec","CONNECTIONS_PER_BROKER":"1","LISTENER_THREADS":"1","AUTHENTICATION_SERVICE":null,"MAXIMUM_REJECTED_REQUESTS":"50","PULSAR_SERVICE_URL":"pulsar://localhost:6650","IO_THREADS":"1","ALLOW_TLS_INSECURE_CONNECTION":"false","ENABLE_TLS_HOSTNAME_VERIFICATION":"false"},"propertyDescriptors":{"KEEP_ALIVE_INTERVAL":{"name":"KEEP_ALIVE_INTERVAL","displayName":"Keep Alive interval","identifiesControllerService":false,"sensitive":false},"CONCURRENT_LOOKUP_REQUESTS":{"name":"CONCURRENT_LOOKUP_REQUESTS","displayName":"Maximum concurrent lookup-requests","identifiesControllerService":false,"sensitive":false},"USE_TCP_NO_DELAY":{"name":"USE_TCP_NO_DELAY","displayName":"Use TCP no-delay flag","identifiesControllerService":false,"sensitive":false},"STATS_INTERVAL":{"name":"STATS_INTERVAL","displayName":"Stats interval","identifiesControllerService":false,"sensitive":false},"MAXIMUM_LOOKUP_REQUESTS":{"name":"MAXIMUM_LOOKUP_REQUESTS","displayName":"Maximum lookup requests","identifiesControllerService":false,"sensitive":false},"OPERATION_TIMEOUT":{"name":"OPERATION_TIMEOUT","displayName":"Operation Timeout","identifiesControllerService":false,"sensitive":false},"CONNECTIONS_PER_BROKER":{"name":"CONNECTIONS_PER_BROKER","displayName":"Maximum connects per Pulsar broker","identifiesControllerService":false,"sensitive":false},"LISTENER_THREADS":{"name":"LISTENER_THREADS","displayName":"Listener Threads","identifiesControllerService":false,"sensitive":false},"AUTHENTICATION_SERVICE":{"name":"AUTHENTICATION_SERVICE","displayName":"Pulsar Client Authentication Service","identifiesControllerService":true,"sensitive":false},"MAXIMUM_REJECTED_REQUESTS":{"name":"MAXIMUM_REJECTED_REQUESTS","displayName":"Maximum rejected requests per connection","identifiesControllerService":false,"sensitive":false},"PULSAR_SERVICE_URL":{"name":"PULSAR_SERVICE_URL","displayName":"Pulsar Service URL","identifiesControllerService":false,"sensitive":false},"IO_THREADS":{"name":"IO_THREADS","displayName":"I/O Threads","identifiesControllerService":false,"sensitive":false},"ALLOW_TLS_INSECURE_CONNECTION":{"name":"ALLOW_TLS_INSECURE_CONNECTION","displayName":"Allow TLS Insecure Connection","identifiesControllerService":false,"sensitive":false},"ENABLE_TLS_HOSTNAME_VERIFICATION":{"name":"ENABLE_TLS_HOSTNAME_VERIFICATION","displayName":"Enable TLS Hostname Verification","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.pulsar.PulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-client-service-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df78c1d0-b251-39e1-1716-107dc14ba180"},{"identifier":"cd4bcd7d-1029-3bb7-b349-a412f213be55","instanceIdentifier":"21f57033-41c8-354b-87bb-a8f9d26e3f2b","name":"CDP Infer JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df78c1d0-b251-39e1-1716-107dc14ba180"},{"identifier":"268c44c2-32a7-3338-89cb-ce880d3b343f","instanceIdentifier":"c99ff3b2-0184-1000-eba7-669b51ad63f9","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.18.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://stampy.db.elephantsql.com:5432/hqcpwqca","dbcp-time-between-eviction-runs":"-1","Database User":"hqcpwqca","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/Users/tspann/Downloads/servers/postgresql-42.5.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df78c1d0-b251-39e1-1716-107dc14ba180"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}