nifi/thermalsensors2.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>d8572639-0183-1000-0ba1-f93d0497dc6a</groupId>
    <name>thermalsensors2</name>
    <snippet>
        <controllerServices>
            <id>232410b0-1f63-3031-0000-000000000000</id>
            <parentGroupId>2d0d2ec9-e126-3cf6-0000-000000000000</parentGroupId>
            <versionedComponentId>232410b0-1f63-3031-96b8-aeec25a231e2</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>Standard Inherit JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>268c44c2-32a7-3338-0000-000000000000</id>
            <parentGroupId>2d0d2ec9-e126-3cf6-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://stampy.db.elephantsql.com:5432/hqcpwqca</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/Users/tspann/Downloads/servers/postgresql-42.5.1.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>hqcpwqca</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>43aff992-fc64-3e8c-0000-000000000000</id>
            <parentGroupId>2d0d2ec9-e126-3cf6-0000-000000000000</parentGroupId>
            <versionedComponentId>43aff992-fc64-3e8c-ae20-d2b1b5bfeed1</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-pulsar-nar</artifact>
                <group>io.streamnative.connectors</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>PULSAR_SERVICE_URL</key>
                    <value>
                        <name>PULSAR_SERVICE_URL</name>
                    </value>
                </entry>
                <entry>
                    <key>AUTHENTICATION_SERVICE</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.pulsar.auth.PulsarClientAuthenticationService</identifiesControllerService>
                        <name>AUTHENTICATION_SERVICE</name>
                    </value>
                </entry>
                <entry>
                    <key>CONCURRENT_LOOKUP_REQUESTS</key>
                    <value>
                        <name>CONCURRENT_LOOKUP_REQUESTS</name>
                    </value>
                </entry>
                <entry>
                    <key>CONNECTIONS_PER_BROKER</key>
                    <value>
                        <name>CONNECTIONS_PER_BROKER</name>
                    </value>
                </entry>
                <entry>
                    <key>IO_THREADS</key>
                    <value>
                        <name>IO_THREADS</name>
                    </value>
                </entry>
                <entry>
                    <key>KEEP_ALIVE_INTERVAL</key>
                    <value>
                        <name>KEEP_ALIVE_INTERVAL</name>
                    </value>
                </entry>
                <entry>
                    <key>LISTENER_THREADS</key>
                    <value>
                        <name>LISTENER_THREADS</name>
                    </value>
                </entry>
                <entry>
                    <key>MAXIMUM_LOOKUP_REQUESTS</key>
                    <value>
                        <name>MAXIMUM_LOOKUP_REQUESTS</name>
                    </value>
                </entry>
                <entry>
                    <key>MAXIMUM_REJECTED_REQUESTS</key>
                    <value>
                        <name>MAXIMUM_REJECTED_REQUESTS</name>
                    </value>
                </entry>
                <entry>
                    <key>OPERATION_TIMEOUT</key>
                    <value>
                        <name>OPERATION_TIMEOUT</name>
                    </value>
                </entry>
                <entry>
                    <key>STATS_INTERVAL</key>
                    <value>
                        <name>STATS_INTERVAL</name>
                    </value>
                </entry>
                <entry>
                    <key>ALLOW_TLS_INSECURE_CONNECTION</key>
                    <value>
                        <name>ALLOW_TLS_INSECURE_CONNECTION</name>
                    </value>
                </entry>
                <entry>
                    <key>ENABLE_TLS_HOSTNAME_VERIFICATION</key>
                    <value>
                        <name>ENABLE_TLS_HOSTNAME_VERIFICATION</name>
                    </value>
                </entry>
                <entry>
                    <key>USE_TCP_NO_DELAY</key>
                    <value>
                        <name>USE_TCP_NO_DELAY</name>
                    </value>
                </entry>
            </descriptors>
            <name>LocalhostMacPulsar2.11</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>PULSAR_SERVICE_URL</key>
                    <value>pulsar://localhost:6650</value>
                </entry>
                <entry>
                    <key>AUTHENTICATION_SERVICE</key>
                </entry>
                <entry>
                    <key>CONCURRENT_LOOKUP_REQUESTS</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>CONNECTIONS_PER_BROKER</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>IO_THREADS</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>KEEP_ALIVE_INTERVAL</key>
                    <value>30 sec</value>
                </entry>
                <entry>
                    <key>LISTENER_THREADS</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>MAXIMUM_LOOKUP_REQUESTS</key>
                    <value>50000</value>
                </entry>
                <entry>
                    <key>MAXIMUM_REJECTED_REQUESTS</key>
                    <value>50</value>
                </entry>
                <entry>
                    <key>OPERATION_TIMEOUT</key>
                    <value>30 sec</value>
                </entry>
                <entry>
                    <key>STATS_INTERVAL</key>
                    <value>60 sec</value>
                </entry>
                <entry>
                    <key>ALLOW_TLS_INSECURE_CONNECTION</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ENABLE_TLS_HOSTNAME_VERIFICATION</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>USE_TCP_NO_DELAY</key>
                    <value>false</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.pulsar.StandardPulsarClientService</type>
        </controllerServices>
        <controllerServices>
            <id>99a474eb-2b7b-3298-0000-000000000000</id>
            <parentGroupId>2d0d2ec9-e126-3cf6-0000-000000000000</parentGroupId>
            <versionedComponentId>99a474eb-2b7b-3298-9420-202734e81f90</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>Standard Inherit JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>c66f2175-6b26-302e-0000-000000000000</id>
            <parentGroupId>2d0d2ec9-e126-3cf6-0000-000000000000</parentGroupId>
            <versionedComponentId>c66f2175-6b26-302e-8d6c-747ce3dfeaeb</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>Infer JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>cd4bcd7d-1029-3bb7-0000-000000000000</id>
            <parentGroupId>2d0d2ec9-e126-3cf6-0000-000000000000</parentGroupId>
            <versionedComponentId>cd4bcd7d-1029-3bb7-b349-a412f213be55</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>CDP Infer JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processGroups>
            <id>501b79fc-3962-327d-0000-000000000000</id>
            <parentGroupId>2d0d2ec9-e126-3cf6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>501b79fc-3962-327d-bffd-654984f09d20</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>16897805-0620-3606-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>811399c0-c0a5-3dc2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>69199e75-c8fb-395e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1df187c5-9258-3fbe-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>7d035b98-74a6-3c8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>all</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>57ee4a1e-340b-3307-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f847edb4-476e-3fd3-8aff-2ba2ba8158cf</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2cf834a9-5e22-3bff-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>69199e75-c8fb-395e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>7d035b98-74a6-3c8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>38e0bce6-43f7-3eb6-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <bends>
                        <x>776.0</x>
                        <y>800.0</y>
                    </bends>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>7d035b98-74a6-3c8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>f82860ce-6b2e-3ea0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a724f259-4c44-3461-91d5-a1eaed553be6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>45541cf0-e73b-33f6-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <versionedComponentId>303885ed-7cc6-31e8-bd62-9b6110128508</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>d4137021-8e84-33ac-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5b216a31-a00a-3d27-a15d-5937ca4c3231</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>57ee4a1e-340b-3307-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f847edb4-476e-3fd3-8aff-2ba2ba8158cf</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>48b45b59-c593-3278-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <bends>
                        <x>880.0</x>
                        <y>728.0</y>
                    </bends>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>811399c0-c0a5-3dc2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>69199e75-c8fb-395e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>54eac2e7-b5d0-36db-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>57ee4a1e-340b-3307-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f847edb4-476e-3fd3-8aff-2ba2ba8158cf</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>e609cd18-4998-3b65-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>61d98416-805a-3fe8-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>f82860ce-6b2e-3ea0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a724f259-4c44-3461-91d5-a1eaed553be6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>7d035b98-74a6-3c8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6cb0f11a-759d-3ab2-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <versionedComponentId>2ec26754-f863-34ca-aaa8-ebade939ba14</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>d4137021-8e84-33ac-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5b216a31-a00a-3d27-a15d-5937ca4c3231</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retries_exceeded</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>f82860ce-6b2e-3ea0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a724f259-4c44-3461-91d5-a1eaed553be6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c2f594ae-5dd2-34fe-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>6d870d47-9c52-3d7f-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retries_exceeded</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>811399c0-c0a5-3dc2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cc5c8652-11dd-3c38-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>d4137021-8e84-33ac-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5b216a31-a00a-3d27-a15d-5937ca4c3231</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>parse_failure</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>e609cd18-4998-3b65-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d5618edc-2a87-3fd3-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>d4137021-8e84-33ac-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5b216a31-a00a-3d27-a15d-5937ca4c3231</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>7d035b98-74a6-3c8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dc4235f7-785f-357d-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <bends>
                        <x>1432.0</x>
                        <y>728.0</y>
                    </bends>
                    <destination>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>69199e75-c8fb-395e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>501b79fc-3962-327d-0000-000000000000</groupId>
                        <id>811399c0-c0a5-3dc2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>6d870d47-9c52-3d7f-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1096.0</x>
                        <y>960.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>d4137021-8e84-33ac-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <position>
                        <x>-264.0</x>
                        <y>320.0</y>
                    </position>
                    <versionedComponentId>5b216a31-a00a-3d27-a15d-5937ca4c3231</versionedComponentId>
                </funnels>
                <processors>
                    <id>57ee4a1e-340b-3307-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <position>
                        <x>280.0</x>
                        <y>304.0</y>
                    </position>
                    <versionedComponentId>f847edb4-476e-3fd3-8aff-2ba2ba8158cf</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>all</key>
<value>
    <name>all</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>c66f2175-6b26-302e-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>99a474eb-2b7b-3298-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>all</key>
<value>SELECT systemtime, humidity, temperature, uuid,
   co2, datetimestamp, rowid, diskusage
FROM FLOWFILE
WHERE CAST(humidity as FLOAT) &lt;=35
</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Filter, Route, Transform, Alert</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>all</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
                <processors>
                    <id>69199e75-c8fb-395e-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <position>
                        <x>944.0</x>
                        <y>560.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
<value>
    <dependencies>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>Statement Type Record Path</name>
</value>
                            </entry>
                            <entry>
<key>Data Record Path</key>
<value>
    <name>Data Record Path</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>UPSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <dependentValues>SQL</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>INSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>cd4bcd7d-1029-3bb7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>PostgreSQL</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
                            </entry>
                            <entry>
<key>Data Record Path</key>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>268c44c2-32a7-3338-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>thermalalerts</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Ignore Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>uuid</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>7d035b98-74a6-3c8d-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <position>
                        <x>280.0</x>
                        <y>560.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-pulsar-nar</artifact>
                        <group>io.streamnative.connectors</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>RECORD_READER</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>RECORD_READER</name>
</value>
                            </entry>
                            <entry>
<key>RECORD_WRITER</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>RECORD_WRITER</name>
</value>
                            </entry>
                            <entry>
<key>PULSAR_CLIENT_SERVICE</key>
<value>
    <identifiesControllerService>org.apache.nifi.pulsar.PulsarClientService</identifiesControllerService>
    <name>PULSAR_CLIENT_SERVICE</name>
</value>
                            </entry>
                            <entry>
<key>TOPIC</key>
<value>
    <name>TOPIC</name>
</value>
                            </entry>
                            <entry>
<key>ASYNC_ENABLED</key>
<value>
    <name>ASYNC_ENABLED</name>
</value>
                            </entry>
                            <entry>
<key>MAX_ASYNC_REQUESTS</key>
<value>
    <name>MAX_ASYNC_REQUESTS</name>
</value>
                            </entry>
                            <entry>
<key>BATCHING_ENABLED</key>
<value>
    <name>BATCHING_ENABLED</name>
</value>
                            </entry>
                            <entry>
<key>BATCHING_MAX_MESSAGES</key>
<value>
    <name>BATCHING_MAX_MESSAGES</name>
</value>
                            </entry>
                            <entry>
<key>BATCH_INTERVAL</key>
<value>
    <name>BATCH_INTERVAL</name>
</value>
                            </entry>
                            <entry>
<key>BLOCK_IF_QUEUE_FULL</key>
<value>
    <name>BLOCK_IF_QUEUE_FULL</name>
</value>
                            </entry>
                            <entry>
<key>COMPRESSION_TYPE</key>
<value>
    <name>COMPRESSION_TYPE</name>
</value>
                            </entry>
                            <entry>
<key>MESSAGE_ROUTING_MODE</key>
<value>
    <name>MESSAGE_ROUTING_MODE</name>
</value>
                            </entry>
                            <entry>
<key>MESSAGE_DEMARCATOR</key>
<value>
    <name>MESSAGE_DEMARCATOR</name>
</value>
                            </entry>
                            <entry>
<key>PENDING_MAX_MESSAGES</key>
<value>
    <name>PENDING_MAX_MESSAGES</name>
</value>
                            </entry>
                            <entry>
<key>MAPPED_MESSAGE_PROPERTIES</key>
<value>
    <name>MAPPED_MESSAGE_PROPERTIES</name>
</value>
                            </entry>
                            <entry>
<key>MESSAGE_KEY</key>
<value>
    <name>MESSAGE_KEY</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>RECORD_READER</key>
<value>cd4bcd7d-1029-3bb7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>RECORD_WRITER</key>
<value>232410b0-1f63-3031-0000-000000000000</value>
                            </entry>
                            <entry>
<key>PULSAR_CLIENT_SERVICE</key>
<value>43aff992-fc64-3e8c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>TOPIC</key>
<value>persistent://public/default/thermalsensorsalerts</value>
                            </entry>
                            <entry>
<key>ASYNC_ENABLED</key>
<value>false</value>
                            </entry>
                            <entry>
<key>MAX_ASYNC_REQUESTS</key>
<value>50</value>
                            </entry>
                            <entry>
<key>BATCHING_ENABLED</key>
<value>false</value>
                            </entry>
                            <entry>
<key>BATCHING_MAX_MESSAGES</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>BATCH_INTERVAL</key>
<value>10 ms</value>
                            </entry>
                            <entry>
<key>BLOCK_IF_QUEUE_FULL</key>
<value>false</value>
                            </entry>
                            <entry>
<key>COMPRESSION_TYPE</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>MESSAGE_ROUTING_MODE</key>
<value>RoundRobinPartition</value>
                            </entry>
                            <entry>
<key>MESSAGE_DEMARCATOR</key>
                            </entry>
                            <entry>
<key>PENDING_MAX_MESSAGES</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>MAPPED_MESSAGE_PROPERTIES</key>
<value></value>
                            </entry>
                            <entry>
<key>MESSAGE_KEY</key>
<value>${uuid}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishPulsarRecord Alerts</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord</type>
                </processors>
                <processors>
                    <id>811399c0-c0a5-3dc2-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <position>
                        <x>952.0</x>
                        <y>768.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>retry-attribute</key>
<value>
    <name>retry-attribute</name>
</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>
    <name>maximum-retries</name>
</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>
    <name>penalize-retries</name>
</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>
    <name>Fail on Non-numerical Overwrite</name>
</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>
    <name>reuse-mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>retry-attribute</key>
<value>flowfile.retries</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>3</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>false</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RetryFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retries_exceeded</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                </processors>
                <processors>
                    <id>e609cd18-4998-3b65-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <position>
                        <x>280.0</x>
                        <y>64.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-pulsar-nar</artifact>
                        <group>io.streamnative.connectors</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Record Reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>Record Reader</name>
</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>Record Writer</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>PULSAR_CLIENT_SERVICE</key>
<value>
    <identifiesControllerService>org.apache.nifi.pulsar.PulsarClientService</identifiesControllerService>
    <name>PULSAR_CLIENT_SERVICE</name>
</value>
                            </entry>
                            <entry>
<key>TOPICS</key>
<value>
    <name>TOPICS</name>
</value>
                            </entry>
                            <entry>
<key>TOPICS_PATTERN</key>
<value>
    <name>TOPICS_PATTERN</name>
</value>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_NAME</key>
<value>
    <name>SUBSCRIPTION_NAME</name>
</value>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_INITIAL_POSITION</key>
<value>
    <name>SUBSCRIPTION_INITIAL_POSITION</name>
</value>
                            </entry>
                            <entry>
<key>CONSUMER_NAME</key>
<value>
    <name>CONSUMER_NAME</name>
</value>
                            </entry>
                            <entry>
<key>ASYNC_ENABLED</key>
<value>
    <name>ASYNC_ENABLED</name>
</value>
                            </entry>
                            <entry>
<key>MAX_ASYNC_REQUESTS</key>
<value>
    <name>MAX_ASYNC_REQUESTS</name>
</value>
                            </entry>
                            <entry>
<key>ACK_TIMEOUT</key>
<value>
    <name>ACK_TIMEOUT</name>
</value>
                            </entry>
                            <entry>
<key>PRIORITY_LEVEL</key>
<value>
    <name>PRIORITY_LEVEL</name>
</value>
                            </entry>
                            <entry>
<key>RECEIVER_QUEUE_SIZE</key>
<value>
    <name>RECEIVER_QUEUE_SIZE</name>
</value>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_TYPE</key>
<value>
    <name>SUBSCRIPTION_TYPE</name>
</value>
                            </entry>
                            <entry>
<key>CONSUMER_BATCH_SIZE</key>
<value>
    <name>CONSUMER_BATCH_SIZE</name>
</value>
                            </entry>
                            <entry>
<key>MESSAGE_DEMARCATOR</key>
<value>
    <name>MESSAGE_DEMARCATOR</name>
</value>
                            </entry>
                            <entry>
<key>MAPPED_FLOWFILE_ATTRIBUTES</key>
<value>
    <name>MAPPED_FLOWFILE_ATTRIBUTES</name>
</value>
                            </entry>
                            <entry>
<key>REPLICATE_SUBSCRIPTION_STATE</key>
<value>
    <name>REPLICATE_SUBSCRIPTION_STATE</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Record Reader</key>
<value>cd4bcd7d-1029-3bb7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>232410b0-1f63-3031-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>2 seconds</value>
                            </entry>
                            <entry>
<key>PULSAR_CLIENT_SERVICE</key>
<value>43aff992-fc64-3e8c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>TOPICS</key>
<value>persistent://public/default/thermalsensors</value>
                            </entry>
                            <entry>
<key>TOPICS_PATTERN</key>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_NAME</key>
<value>nifi-thermalsensors-consumer</value>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_INITIAL_POSITION</key>
<value>Earliest</value>
                            </entry>
                            <entry>
<key>CONSUMER_NAME</key>
<value>nifi-localhost1</value>
                            </entry>
                            <entry>
<key>ASYNC_ENABLED</key>
<value>false</value>
                            </entry>
                            <entry>
<key>MAX_ASYNC_REQUESTS</key>
<value>50</value>
                            </entry>
                            <entry>
<key>ACK_TIMEOUT</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>PRIORITY_LEVEL</key>
<value>5</value>
                            </entry>
                            <entry>
<key>RECEIVER_QUEUE_SIZE</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_TYPE</key>
<value>Shared</value>
                            </entry>
                            <entry>
<key>CONSUMER_BATCH_SIZE</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>MESSAGE_DEMARCATOR</key>
<value>
</value>
                            </entry>
                            <entry>
<key>MAPPED_FLOWFILE_ATTRIBUTES</key>
<value></value>
                            </entry>
                            <entry>
<key>REPLICATE_SUBSCRIPTION_STATE</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumePulsarRecord Thermal sensors</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>parse_failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.pulsar.pubsub.ConsumePulsarRecord</type>
                </processors>
                <processors>
                    <id>f82860ce-6b2e-3ea0-0000-000000000000</id>
                    <parentGroupId>501b79fc-3962-327d-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>848.0</y>
                    </position>
                    <versionedComponentId>a724f259-4c44-3461-91d5-a1eaed553be6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>retry-attribute</key>
<value>
    <name>retry-attribute</name>
</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>
    <name>maximum-retries</name>
</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>
    <name>penalize-retries</name>
</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>
    <name>Fail on Non-numerical Overwrite</name>
</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>
    <name>reuse-mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>retry-attribute</key>
<value>flowfile.retries</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>3</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>false</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RetryFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retries_exceeded</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>100000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Thermal Processing</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/30/2022 14:13:19 EST</timestamp>
</template>
